<table
  align="center"
  cellspacing="0"
  cellpadding="0"
  class="newsletterContainer"
  style="max-width: 650px; width: 100%; background-color: "
>
  <tbody>
    <tr>
      <td>
        <!-- 1-2 Products table -->
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tbody>
            <tr>
              <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
              <td
                style="vertical-align: top; width: 50%"
                class="newsletterRight10px"
              ></td>
              <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
              <td
                style="vertical-align: top; width: 50%"
                class="newsletterLeft10px"
              ></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom20px"></td>
    </tr>
    <tr>
      <td>
        <!-- 3-4 Products table -->
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tbody>
            <tr>
              <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
              <td
                style="vertical-align: top; width: 50%"
                class="newsletterRight10px"
              ></td>
              <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
              <td
                style="vertical-align: top; width: 50%"
                class="newsletterLeft10px"
              ></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
