<table
  border="0"
  align="center"
  cellpadding="0"
  cellspacing="0"
  class="newsletterContainer"
  style="background-color: #ffffff; width: 100%; max-width: 650px"
>
  <tbody>
    <tr>
      <td>
        <a href="">
          <img src="" alt="" style="display: block; max-width: 100%;">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="">
          <img src="" alt="" style="display: block; max-width: 100%;">
        </a>
      </td>
    </tr>
  </tbody>
</table>
