<table align="center" cellspacing="0" cellpadding="0" width="100%" style="max-width: 650px; width: 100%; background-color: ;">
  <thead>
    <tr>
      <td class="newsletterContainer">
        <span class="newsletterTitle"></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td>
        <a href="">
          <img
            alt=""
            src=""
            style="vertical-align: middle; max-width: 100%"
            loading="lazy"
          />
        </a>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="newsletterContainer">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tbody>
            <tr>
              <td class="newsletterBottom20px">
                <!-- 1-2 Products table -->
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                  <tbody>
                    <tr>
                      <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
                      <td
                        style="
                          padding-top: 0px;
                          padding-left: 0px;
                          vertical-align: top;
                          width: 50%;
                        "
                        class="newsletterRight10px"
                      ></td>
                      <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
                      <td
                        style="
                          padding-top: 0px;
                          padding-right: 0px;
                          vertical-align: top;
                          width: 50%;
                        "
                        class="newsletterLeft10px"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <!-- 3-4 Products table -->
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                  <tbody>
                    <tr>
                      <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
                      <td
                        style="
                          padding-top: 0px;
                          padding-left: 0px;
                          vertical-align: top;
                          width: 50%;
                        "
                        class="newsletterRight10px"
                      ></td>
                      <!-- vertical align top added for reason when product have only 1 price on mobile product grid will differ for another one-->
                      <td
                        style="
                          padding-top: 0px;
                          padding-right: 0px;
                          vertical-align: top;
                          width: 50%;
                        "
                        class="newsletterLeft10px"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="newsletterBottom35px"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" class="newsletterBottom80px">
        <a href="" style="color: #000; text-decoration: underline">
          <span class="newsletterCta"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
