<table
  align="center"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="650"
  class="newsletterContainer"
  style="max-width: 650px; width: 100%; background-color: ; color: "
>
  <tbody>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="center">
        <span class="newsletterParagraph"></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="center">
        <span class="newsletterParagraph"></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="center">
        <span
          class="newsletterParagraph"
          style="font-size: 20px; font-weight: 400"
        ></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="center">
        <span class="newsletterParagraph"></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="center">
        <span class="newsletterParagraph"></span>
      </td>
    </tr>
  </tbody>
</table>
