<table
  align="center"
  border="0"
  cellpadding="0"
  cellspacing="0"
  style="max-width: 650px; width: 100%; background-color: "
  class="newsletterContainer"
>
  <tbody>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td align="left">
        <span class="newsletterSoonEndingTitle"></span>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom35px"></td>
    </tr>
    <tr>
      <td>
        <a href=""
          ><img loading="lazy" src="" style="display: block; max-width: 100%"
        /></a>
      </td>
    </tr>
    <tr>
      <td class="newsletterBottom20px"></td>
    </tr>
    <tr>
      <td>
        <a href=""
          ><img loading="lazy" src="" style="display: block; max-width: 100%"
        /></a>
      </td>
    </tr>
  </tbody>
</table>